footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: darkslategray;
    border-top: solid;
    border-top-width: 1px;
    border-top-color: tomato;
    margin: 0px;
    padding: 0px;
}
.capital-i{
    color: tomato;
}