body{
    font-family: serif;
    color: whitesmoke;
    background-color: rgb(31, 56, 73);
    width: 100%;
}
.container{ 
    display: flex;
    flex-direction: column;/*será por este column que el wrap de div2 me lo pone en columna en vez de dejarmelo en row?*/
    width: 100%;
}
.container-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
    margin-left: 10px;
}
.div1{
    display: flex;
    flex-direction: row;
}
#main-news{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.img-xiaomi{
    width: 800px;
    height: 500px;
    margin-top: 10px;
}
#secondary-news{
    display: flex;
    text-align: center;
}
.secondary-news1{
    flex: 50%; 
}
.img-iphones{
    width: 400px;
    height: 250px;
}
.secondary-news2{
    flex: 50%; 
}
.img-ps5{
    width: 400px;
    height: 250px;
}
.sidebar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    text-align: center;
    width: 30%;
}
.img-vr{
    width: 200px;
    height: 140px;
}
.img-fintechs{
    width: 200px;
    height: 140px;
}
.div2{
    display: flex;
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
    /*flex-wrap: wrap;*/
    text-align: center;
    margin-left: 10px;
    border-top: solid 1px;
}
.no-foto-news1{
    /*display: flex;*/
    flex: 50%;
    /*justify-content: flex-start;*/
}
.no-foto-news2{
    /*display: flex;*/
    flex: 50%;
    /*justify-content: flex-end;*/
}
body img{
    width: 90px;
}
a{
    text-decoration: none;
    color: darkcyan;
}
.heading-links a{
    color: whitesmoke;
}
a:hover{
    color: orangered;
}

@media only screen and (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .sidebar{
        display: flex;
        flex-wrap: wrap;
    }
    .secondary-news, .div2{
        flex-wrap: wrap;
    }
    .secondary-news1, .secondary-news2, .no-foto-news1, .no-foto-news2{
        /*flex: 100%;*/
        flex-direction: column;
    }
}
