@media only screen and (max-width: 768px) {
    .sidebar{
        display: flex;
        flex-wrap: wrap;
    }
}

body{
    font-family: serif;
    color: whitesmoke;
    background-color: rgb(31, 56, 73);
    width: 100%;
}
.container{ 
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container-main{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: 10px;
}
.div1{
    display: flex;
    flex-direction: row;
}
.div2{
    border-top: solid 1px;
}
.img-xiaomi{
    display: flex;
    width: 800px;
    height: 500px;
    margin-top: 10px;
}
#main-news{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.img-iphones{
    display: flex;
    width: 400px;
    height: 250px;
}
.img-ps5{
    display: flex;
    width: 400px;
    height: 250px;
}
#secondary-news{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.heading-links a{
    color: whitesmoke;
}
.img-vr{
    display: flex;
    width: 200px;
    height: 140px;
}
.img-fintechs{
    display: flex;
    width: 200px;
    height: 140px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 25%;
}
.no-foto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 10px;
}
.no-foto-news1{
    display: flex;
    justify-content: flex-start;
}
.no-foto-news2{
    display: flex;
    justify-content: flex-end;
}
body img{
    width: 90px;
}
a{
    text-decoration: none;
    color: darkcyan;
}
a:hover{
    color: orangered;
}